#mainImage{
	width: 80%;
}

#mainImageCell{
	text-align: center;
	border: 2px solid grey;
}

#description{
	width: 500px;
	text-align: center;
	padding-left: 20px;
}

table{
	width: 70%;
	margin: auto;
}

#thumbnails {
	padding-top: 10px;
	width: 10%;
}